body {
    background-color: #666A86;
    font: 24px/1.4 "RobotoDraft", sans-serif;
}

.todoListContainer {
    justify-content: center;
    justify-items: center;
    display:grid;
    grid-template-columns: 5% 25% 5%;
    grid-template-rows: 8vh 70vh auto;
}

.todoListTable {
    width:100%;
    height:100%;
    grid-row-start:2;
    grid-column-start: 2;
    border-radius:10px;
    background-color:#788AA3;
}

.todoListHeaderRow {
    height:10%;
    width:20%;
}

.entryFormDiv {
    margin: auto;
    justify-items: center;
    grid-column-start: 2;
    grid-row-start: 1;
    width:90%;
    height:60%;
    min-height:40px;
    min-width: 340px;
    border-radius:10px;

}

.addEntryForm {
    margin: auto;
    width: 100%;
    height: 100%;

    display:grid;
    grid-template-columns: 80% 20%;
}

.addEntryDescInput {
    width: 80%;
    height: 100%;
    grid-column-start: 1;
}

.formSubmitButton {
    font-size: 65%;
    height:80%;
    border: 0;
    padding: 0;
    margin-top:5%;
    border-radius: 10px;
    grid-column-start: 2;
    background-color: #92B6B1;
}

.deleteTodoButton {
    width:5%;
    height:5%;
}

